# 4장 반복문

In [3]:
a=['수박','바나나','키위',1,2,True]

['수박', '바나나', '키위', 1, 2, True]

In [4]:
a[0]

'수박'

In [6]:
a = ["문자열"]
a[0][1]

'자'

In [7]:
1 in [1,2,3]

True

In [26]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [27]:
a.insert(1,1)
a

[1, 1, 2, 3, 4]

In [28]:
a.extend([5,6,7])
a

[1, 1, 2, 3, 4, 5, 6, 7]

In [29]:
a = [1,2,3,4,5,6,7]
del a[1]
a

[1, 3, 4, 5, 6, 7]

In [32]:
a = [1,2,3,4,5,6,7]
a.pop(1)
a.pop()

7

In [34]:
a = [100,200,300,400,500]
a.remove(100)
a

[200, 300, 400, 500]

In [35]:
a = [1,1,1,1,1]
a.remove(1)
a

[1, 1, 1, 1]

In [36]:
a = [1,2,3,4,5,6,7]
a.clear()
a

[]

In [37]:
a = [1,2,3,4,5,6,7]

for element in a :
    print(element)

1
2
3
4
5
6
7

In [38]:
numbers = [273,103,5,32,65,9,72,800,99]

for number in numbers :
    if number >=100 :
        print("- 100 이상의 수 : {}".format(number))

- 100 이상의 수 : 273
- 100 이상의 수 : 103
- 100 이상의 수 : 800

In [41]:
numbers = [273,103,5,32,65,9,72,800,99]

for number in numbers :
    if number % 2 ==0:
        print("{}는 짝수입니다".format(number))
    else :
        print("{}는 홀수입니다".format(number))

273는 홀수입니다
103는 홀수입니다
5는 홀수입니다
32는 짝수입니다
65는 홀수입니다
9는 홀수입니다
72는 짝수입니다
800는 짝수입니다
99는 홀수입니다

In [42]:
numbers = [273,103,5,32,65,9,72,800,99]

for number in numbers :
    print("{}는 {} 자리수입니다.".format(number,len(str(number))))

273sms 3 자리수입니다.
103sms 3 자리수입니다.
5sms 1 자리수입니다.
32sms 2 자리수입니다.
65sms 2 자리수입니다.
9sms 1 자리수입니다.
72sms 2 자리수입니다.
800sms 3 자리수입니다.
99sms 2 자리수입니다.

In [43]:
list_of_list = [
    [1,2,3],
    [4,5,6,7],
    [8,9]
]

for a in list_of_list:
    #[1,2,3] > [4,5,6,7] > [8,9]
    for b in a:
        # 1,2,3 // 4,5,6,7 // 8,9 한번 더 반복
        print(b)

1
2
3
4
5
6
7
8
9

**딕셔너리**

In [1]:
#리스트 [1,2]
#딕셔너리 {"키A":"값A",}

In [3]:
딕셔너리 = {
    "키A" : "값A",
    "키B" : "값B",
    "키C" : "값C"
}
print(딕셔너리["키A"])

값A

In [4]:
딕셔너리 = {
    "문자열":"값",
    273:[1,2,3,4],
    True : False
}

for key in 딕셔너리:
    print("{}:{}".format(key,딕셔너리[key]))

문자열:값
273:[1, 2, 3, 4]
True:False

In [5]:
딕셔너리["키"] = "값"
for key in 딕셔너리:
    print("{}:{}".format(key,딕셔너리[key])) #코드추가

문자열:값
273:[1, 2, 3, 4]
True:False
키:값

In [6]:
del 딕셔너리["키"]
for key in 딕셔너리:
    print("{}:{}".format(key,딕셔너리[key])) #코드제거

문자열:값
273:[1, 2, 3, 4]
True:False

In [7]:
#딕셔너리 내부에 키 확인하는 방법
dictionary = {
    "이름" : "구름",
    "종족" : "강아지"
}

if "나이" in dictionary:
    print(dictionary["나이"])
else :
    print("없는 키입니다")

없는 키입니다

In [8]:
print(dictionary.get("나이"))

None

In [9]:
pets = [
    {"name" : "구름","age":5 },
    {"name" : "초코","age":3 },
    {"name" : "아지","age":1 },
    {"name" : "호랑이","age":1 },
]

print("#우리 동네 애완 동물들")
for pet in pets:
    print("{} {}살".format(pet["name"],pet["age"]))

#우리 동네 애완 동물들
구름 5살
초코 3살
아지 1살
호랑이 1살

In [11]:
numbers = [1,2,3,8,4,3,2,1,9,5,4,9,7,2,1,3,5,4,8,9,7,2,3]
counter = {}

for number in numbers:
    if number in counter:
        counter[number]+=1
    else:
        counter[number]=1
print(counter)

{1: 3, 2: 4, 3: 4, 8: 2, 4: 3, 9: 3, 5: 2, 7: 2}

In [17]:
#flating
character = {
    "name":"기사",
    "level":12,
    "items":{
        "sword":"불꽃의 검",
        "armor":"풀풀레이트"
    },
    "skill":["베기","세게 베기","아주 세게 베기"]
}

for key in character:
    if type(character[key]) is dict:        #딕셔너리일 때
        for k in character[key]:
            print("{}:{}".format(k, character[key][k]))
    elif type(character[key]) is list: #리스트일 때
        for skill in character[key]:
            print("{}:{}".format(key,skill))
    else :
        print("{}:{}".format(key,character[key]))

name:기사
level:12
sword:불꽃의 검
armor:풀풀레이트
skill:베기
skill:세게 베기
skill:아주 세게 베기

**range**

In [1]:
list(range(0,10,1)) #0부터 9까지 1씩 증가

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
for i in range(0,10,1): #정수밖에 올 수 없음
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(9,-1,-1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [5]:
for i in reversed(range(0,10,1)): #정수밖에 올 수 없음
    print(i)

9
8
7
6
5
4
3
2
1
0

**while 반복문**

In [6]:
i=0
while i < 10:
    print(i, end="")
    i+=1

0123456789

In [8]:
numbers = [1,2,1,2,1,2,1,2]

while 1 in numbers:
    numbers.remove(1)
    print(numbers)

[2, 1, 2, 1, 2, 1, 2]
[2, 2, 1, 2, 1, 2]
[2, 2, 2, 1, 2]
[2, 2, 2, 2]

In [9]:
import time

print(time.time())

1653973781.055148

In [16]:
numbers = [5,15,6,2,0,7,25]

for number in numbers:
    if number <10:
        #10보다 작으면 다음 반복으로 넘어감
        continue
        #현재 반복을 중지하고, 다음 반복으로 넘어간다
    print(number)

15
25

In [17]:
key_list = ["name", "hp","mp","level"]
value_list = ["기사",200,30,5]
character = {}

for i in range(len(value_list)):
    character[key_list[i]]=value_list[i]
    
print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [20]:
limit=10000
i=1

sum_value = 0
while sum_value < limit:
    sum_value+=i
    i+=1

print("{} 를 더할 때 {} 을 넘으며 그때의 값은 {}입니다.".format(i,limit,sum_value)) #반복할 수를 알면 for 모르면 while

142 를 더할 때 10000 을 넘으며 그때의 값은 10011입니다.

In [22]:
print(min([273,52,32,57,103]))
print(max([273,52,32,57,103]))
print(sum([273,52,32,57,103]))

32
273
517

In [25]:
a = [0,1,2,3,4,5]
reversed_a = reversed(a)
print(list(reversed_a))
print(list(reversed_a)) #일회용함수

[5, 4, 3, 2, 1, 0]
[]

In [26]:
a = [273,103,52,32,57]
print(list(enumerate(a)))

[(0, 273), (1, 103), (2, 52), (3, 32), (4, 57)]

In [27]:
a = [273,103,52,32,57]
for(i, element) in enumerate(a):
    print("{}번째 요소는 {}입니다.".format(i,element)) #일회용함수

0번째 요소는 273입니다.
1번째 요소는 103입니다.
2번째 요소는 52입니다.
3번째 요소는 32입니다.
4번째 요소는 57입니다.

In [31]:
a={
    "key_1":"value_1",
    "key_2":"value_2",
    "key_3":"value_3"
}
for key,value in a.items():
    print("{}키의 값은 {}입니다.".format(key,value))

key_1키의 값은 value_1입니다.
key_2키의 값은 value_2입니다.
key_3키의 값은 value_3입니다.

In [32]:
array = [i*i for i in range(0,20,2)]
print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [33]:
array=[]
for i in range(0,20,2):
    array.append(i*i)
    print(array)

[0]
[0, 4]
[0, 4, 16]
[0, 4, 16, 36]
[0, 4, 16, 36, 64]
[0, 4, 16, 36, 64, 100]
[0, 4, 16, 36, 64, 100, 144]
[0, 4, 16, 36, 64, 100, 144, 196]
[0, 4, 16, 36, 64, 100, 144, 196, 256]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]